# Go
backend/dida.exe
go_build_*.exe
*.exe
*.test
*.out

# Frontend
frontend/node_modules/
frontend/dist/
frontend/pnpm-lock.yaml

# IDE
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
.DS_Store

# Build temp
backend/frontend/
